* {
			box-sizing: border-box;
			font-family: "Comic Sans MS", cursive, sans-serif;
		}

		@media (max-width: 767px) {

			h1 {
				text-align: center;
			}

			h2 {
				text-align: center;
				border: 2px solid black;
				float: right;
				width: 25%;
				color: white;
				margin: 0;
			}

			div {
				background-color: #aeceac;
				float: left;
				border: 2px solid black;
				margin: 10px 30px 10px 30px;
			}

			p {
				padding: 5px;
				float: left;
				background-color: #aeceac;
			}
		}

		@media (min-width: 768px) and (max-width: 991px) {

			h1 {
				text-align: center;
				margin: 20px;
			}

			#div {
				width: 47%;
				float: left;
				border: 2px solid black;
				margin: 0px 10px 0px 10px;
				background-color: #aeceac;
			}

			h2 {
				text-align: center;
				float: right;
				width: 25%;
				color: white;
				border: 2px solid black;
			}

			p {
				float: left;
				padding: 5px;
				background-color: #aeceac;
			}

			div {
				float: left;
				background-color: #aeceac;
				float: left;
				border: 2px solid black;
				width: 97%;
				margin: 10px 10px 10px 10px;
			}

		}

		@media (min-width: 992px) {

			h1 {
				text-align: center;
				margin: 20px;
			}

			h2 {
				text-align: center;
				border: 2px solid black;
				float: right;
				width: 25%;
				color: white;
				margin: 0;
			}

			div {
				float: left;
				background-color: #aeceac;
				float: left;
				border: 2px solid black;
				width: 30%;
				margin: 10px 20px 10px 20px;
			}

			p {
				padding: 5px;
				float: left;
				background-color: #aeceac;
			}
		}
